@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Della+Respira&family=Josefin+Sans:wght@700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Serif+Display:wght@700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-header {
  font-family: "DM Serif Display", serif;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 30px;
  left: 26px;
  top: 30px;
}
@media screen and (max-width: 600px) {
  .bm-burger-button {
    width: 26px;
    height: 20px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #b68239;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #b68239;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #001a46;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bg-menu {
  background: #001a46;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b68239;
  padding: 0.8em;
}
.golds {
  background-color: #b68239;
}
.sim {
  background-color: #001a46;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.pp {
  min-height: 70vh;
}
.bgn {
  background-image: url(/image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40%;
}

.video {
  object-fit: cover;
  width: 100%;
  height: 80vh;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../public/Image/room-8.jpg);
}
@media screen and (max-width: 600px) {
  .video {
    height: 50vh;
  }
}

.font-head {
  font-family: "Della Respira", serif;
  font-size: xx-large;
}
@media screen and (max-width: 600px) {
  .font-head {
    font-size: small;
  }
}

.text-gold {
  color: #b68239;
}
.text-sim {
  color: #001a46;
}
.bg-tabs {
  background-color: #001a46;
}
.bg-tel {
  background-color: #D2CCBD;
}
.hot {
  text-align: -webkit-center;
}
.border-golds {
  border-bottom-color: #b68239;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
.max-jor {
  max-width: 95rem;
}
.us {
  letter-spacing: 3px;
  font-size: 50px;
  font-family: "Della Respira", serif;
}
@media screen and (max-width: 600px) {
  .us {
    font-size: large;
  }
}
.bg-all {
  background-color: #f3f5f3;
}
text-kim {
  color: #595859;
}
.font-footer {
  letter-spacing: 3px;
  font-family: "Della Respira", serif;
  color: #595959;
}
.text-foot{
  color: #595959;
}
.bg-condo {
  width: 100%;
  height: 100%;
  background-image: url(/Image/room-12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.footer-text {
  color: #595959;
}
.footer-text :hover {
  color: #b68239;
}
.banner-progess {
  background-color: #595958;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.wrapper {
  border: 3px solid white;
}

.container {
  background-color: pink;
}

.label {
  font-size: 20px;
  color: gray;
  font-family: "Kanit", sans-serif;
}
.sub-label {
  font-size: 60px;
  font-family: "Kanit", sans-serif;
}
@media screen and (max-width: 600px) {
  .sub-label {
    font-size: 40px;
  }
}
.wow {
  font-family: "Kanit", sans-serif;
  letter-spacing: 3px;
  font-size: 80px;
}
@media screen and (max-width: 600px) {
  .wow {
    font-size: 40px;
  }
}
.bg-concept {
  background-image: url(/Image/progess.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.text-pro {
  color: #b8b2ac;
}

.progress {
  width: 200px;
  height: 200px;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  text-align: center;
  line-height: 200px;
  margin: 20px;
}
@media screen and (max-width: 600px) {
  .progress {
    width: 100px;
    height: 100px;
    font-size: 30px;
  }
}
.progress .title {
  position: relative;
  z-index: 100;
}

.progress .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
}

.progress .left,
.progress .right {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 7.5px solid #b8b2ac;
  border-radius: 100px 100px 100px 100px;
  border-right: 1;
  transform-origin: right;
}
.progress-head {
  font-size: 17px;
}
@media screen and (max-width: 600px) {
  .progress-head {
    font-size: 10px;
  }
}

.progress-sub {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .progress-sub {
    font-size: 8px;
  }
}

.gray{
  background-color: #969796;
}
.tel{
  background-color: #B3AD9F;
}
.progressbar {
  margin:20px auto;
  padding:0;
  width:90%;
  height:5px;
  overflow:hidden;
  background:#969796;
  border-radius:6px;
}

.bar1 {
	position:relative;
  float:left;
  min-width:0%;
  height:100%;
  background:#fff;
  width: 70%;
}
.bar2 {
	position:relative;
  float:left;
  min-width:0%;
  height:100%;
  background:#fff;
  width: 20%;
}
.bar3 {
	position:relative;
  float:left;
  min-width:0%;
  height:100%;
  background:#fff;
  width: 50%;
}
.percent {
	position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  font-family:tahoma,arial,helvetica;
  font-size:12px;
  color:white;
}
.text-per{
  color: #D4D5D5;
}
.persec {
  letter-spacing: 3px;
  font-size: 50px;
  font-family: "Della Respira", serif;
}
@media screen and (max-width: 600px) {
  .persec {
    font-size: 20px;
    position: relative;
    bottom: 55px;
  }
}
.font-con{
  font-family: 'Noto Serif Display', serif;
  letter-spacing: 3px;
  font-size: 30px;

}
.font-con-sub2{
  font-family: 'Noto Serif Display', serif;
  letter-spacing: 1.5px;
  color: #817A71;
}

.font-con-sub{
  font-family: 'Noto Serif Display', serif;
  letter-spacing: 3px;
}
.font-signature
{
  font-family: 'Great Vibes', cursive;
}